.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 25% 75%;
  grid-template-areas:
    'logo header'
    'content device';
  @media (max-width: theme('screens.lg')) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% auto auto;
    grid-template-areas:
      'logo header'
      'content content'
      'device device';
  }
  @media (max-width: theme('screens.sm')) {
    display: flex;
    flex-direction: 'column';
  }
}

.logo {
  grid-area: 'logo';
}

.header {
  grid-area: 'header';
}

.content {
  grid-area: 'content';
}

.device {
  grid-area: 'device';
}

.deviceful {
  height: 75vh;
  width: 100%;
}

.device {
  z-index: 0;
  &:hover {
    z-index: 20;
  }
}

.x {
  canvas {
    @apply transition-transform;
  }
  &:hover {
    canvas {
      transform: scale(1.25);
      // @apply scale-125;
    }
  }
}
