.container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.subContainer {
  display: flex;
  flex-direction: row;
  @apply py-4;
}
